
<footer class="footer-area">   

    <section class="about_area section_gap">
        <div class="container">
          <div class="row h_blog_item">
            
              <div class="h_blog_text">
                  <div class="h_blog_text_inner">
                    
                    <h4>Welcome to Tuteender</h4>
                    <p>
                      Tuteender was a project made by Kyrah Ceniza and Kirk Poro
                      back in 2019. They were both second year college students in
                      Information Technology and Computer Science, respectively
                    </p>
                    <p>
                      Tuteender was created and was thought of by the creators as
                      the courses they had undergone, were by no means, easily
                      self-taught through the countless tutorials and lessons that
                      were found on the internet, as programming, in essence does
                      not have a structured nor a definite way.
                    </p>
                    
                  </div>
                </div>
              

                    <div class="single_feature">
                      <div class="icon"><span class="flaticon-student"></span></div>
                      <div class="desc">
                        <h4 class="mt-3 mb-2">Quality Tutors </h4>
                        <p>
                          We ensure you that our tutors are carefully handpicked by our team
                          who reviews and constantly inspects our tutors so that we can provide
                          you the best and safest way to learn possible.
                        </p>
                      </div>
                    </div>
                 

                      <div class="single_feature">
                          <div class="icon"><span class="flaticon-book"></span></div>
                          <div class="desc">
                            <h4 class="mt-3 mb-2">Great Learning Experience!</h4>
                            <p>
                              Before we had this project, we had a research group who had tried the experience
                              we would want to provide and had an astounding 95% success rate in terms of tutors and tutee
                              satisfaction.
                            </p>
                          </div>
                        </div>
                      

                      <div class="single_feature">
                          <div class="icon"><span class="flaticon-earth"></span></div>
                          <div class="desc">
                            <h4 class="mt-3 mb-2">Global Learning</h4>
                            <p>
                              As our tutors provide hands-on and quality learning, this is also a way
                              on how users could potentially collaborate with other users connecting people
                              with the same interests.
                            </p>
                          </div>
                       </div>

                       <div class="desc">
                         <br>
                         <br>
                          <p>All Rights Reserved 2019</p>
                        </div>
                      
        </div>
      </section>
      
      
    </footer>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="js/owl-carousel-thumb.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/mail-script.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="js/gmaps.min.js"></script>
    <script src="js/theme.js"></script>
  </body>
</html>
