<%- include('./partials/header.ejs') %> 
<body>
  <section>
    <form action="/create_account" method="POST">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-8 col-xl-6">
            
            <div class="row">
              <div class="col text-center">
                <br><br><br>
                <h1><strong>Getting started? It's easy. </strong></h1>
                <p class="text-h3">Whether you be a tutor or a tutee, sign up! It's for free.</p>
              </div>
            </div>
            
            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="firstName" class="form-control" placeholder="First Name" required>
              </div>
              <div class="form-group col-md-6">
                <input type="text" name="lastName" class="form-control" placeholder="Last Name" required>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="img">Photo URL:</label>
                <input type="text" name="picture" class="form-control"  required>
              </div>
  
            </div>
            <div class="row">
              <div class="col text-center">
                <input type="text" name="school" class="form-control" placeholder="School" required>
              </div>
            </div><br>
             
            <div class= "form-row">
                <div class="form-group col-md-6">
                <select class="form-control" name="selectDegree">
                <optgroup label="Degree">
                  <option value="" disabled selected hidden>Education Level</option> 
                  <option name="juniorHigh" value="1">Junior High School</option>
                  <option name="seniorHigh" value="2">Senior High School</option>
                  <option name="college" value="3">College</option>
                  <option name="graduateDegree" value="4">Graduate Degree</option>
                </optgroup>
                </select>
              </div>
              <div class="form-group col-md-6">
                <select class="form-control" name="selectYear">
                <optgroup label="Select Year">
                  <option value="" disabled selected hidden>Select Year</option> 
                  <option name="First Year" value="1">First Year</option>
                  <option name="Second Year" value="2">Second Year</option>
                  <option name="Third Year" value="3">Third Year</option>
                  <option name="Fourth Year" value="4">Fourth Year</option>
                  <option name="Fifth Year" value="5">Fifth Year</option>
                  <option name="Grade 11" value="6">Grade 11</option>
                  <option name="Grade 12" value="7">Grade 12</option>
                </optgroup>
                </select>
              </div>
            </div>
              

            <div class="row">
                <div class="col text-center">
                  <input type="text" name="course" class="form-control" placeholder="Course/Strand" required>
                </div>
            </div> <br>

            <div class="form-row">
              <div class="form-group col-md-12">
                <input type="email" name="email" class="form-control" placeholder="Email" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col-md-6">
                <input type="text" name="userName" class="form-control" placeholder="Username" required>
              </div>
              <div class="form-group col-md-6">
                <input type="password" name="password" class="form-control" placeholder="Password"  required minlength="8">
              </div>
            </div>
         
            <div class="form-row">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-m btn-block">Register</button>
              </div>
            </div> 

        </div>
      </div>
      </form>
    </section>
  </body>
</html>