<%- include('./partials/homeHeader.ejs') %> 
<form action="/profile" method="POST">
    <section class="course_details_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 course_details_left">
                    <div class="main_image">
                        <img class="img-fluid" src="img/tutors/chu.jpg" alt="" width="300px" height="300px">
                    </div>
                    <div class="content_wrapper">
                        <h4 class="title">Bio</h4>
                        <div class="content">
                            
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore
                            magna aliqua. </div>
                        
                    </div>
                </div>


                <div class="col-lg-4 right-contents">
                    <ul>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p> Name</p>
                                <span class="or">Marela Buagas</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Course </p>
                                <span>Information Technology</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Year </p>
                                <span>2</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Age </p>
                                <span>20</span>
                            </a>
                        </li>
                        <li>
                            <a class="justify-content-between d-flex" href="#">
                                <p>Status </p>
                                <span>Tutee</span>
                            </a>
                        </li>
                    </ul>
                    <a href="#" class="primary-btn2 text-uppercase enroll rounded-0 text-white">Edit Profile</a>
                   

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

